body
{
    background-color:antiquewhite;
    text-align: center;
}

.Main-Header
{
    letter-spacing: 4px;
    font-size: 52px;
}

.sub-header
{
    margin: 25px;
}

.accountinfo
{
    padding: 15%;
}

.AddInv
{
    margin: 50px;

}

#InvList
{
    margin-bottom: 25px;
}