body
{
    background-color: #f0f3f6;
    text-align: center;
    color: #595959;
    letter-spacing: 2px;
    
}

.Main-Header
{
    letter-spacing: 6px;
    font-size: 52px;
}

.sub-header
{
    margin: 25px;
    letter-spacing: 4px;
}

.accountinfo
{
    padding: 15%;
}

.AddInv
{
    margin: 50px;

}

#InvList
{
    margin-bottom: 25px;
}

.Inv-Info
{
    padding: 15%;
    margin: 0px;      
}

.HI
{
    margin: 0;
}

#login-group
{
    border-right-color: #595959;
    border-right-style: solid;
    border-right-width: 2px;
    padding-right: 20%;
    padding-left: 5%;
}
